DB_NAME=#database name
DB_USER=#database user name
DB_USER_PASS=#database user password
DB_ROOT_PASS=#database root password
DOMAIN_NAME=#domain name (login.42.fr)
WP_USER=#wordpress user name
WP_USER_PASS=#wordpress user password
WP_ADMIN=#wordpress admin name
WP_ADMIN_PASS=#wordpress admin password